# DGW module


<img src="https://www.binnenlandsbestuur.nl/Uploads/2018/2/logo-justid.png" width=400 height=200/>

DGW intro voor Data science

In deze cursus gaan we proeven aan het geen wat data science heet. Om te beginnen met programmeren in Python.


Het programma waar in je werkt heet een Jupyter notebook. De code is voor geprogrammeerd en kan je aanroepen door je cursor in de cel te zetten en op de uitvoeren knop (playknop) te klikken boven in het menu of toetscombinatie SHIFT+ENTER. Je hoeft dus niet direct zelf iets te programmeren. Gaat er iets fout? Refresh de browser en voer de cellen op chronologische volgorde uit.

### Een hele, hele kleine overview van Python

Python is een makkelijke taal om te leren. Python is begin jaren 90 ontworpen en ontwikkeld door de Nederlander Guido van Rossum, destijds verbonden aan het Centrum voor Wiskunde en Informatica in Amsterdam.

<img src="https://logodownload.org/wp-content/uploads/2019/10/python-logo-0.png" width=400 height=200/>

Om te oefenen gaan we onze eerste tekst printen, dat doen we door de ingebouwde print statement van Python. Daarna gaan we variabelen aanwijzen en aanpassen! Zet je cursor in de cel hier beneden en klik op de playknop. De output komt onder de cel.
#### opdracht 1 - print

In [ ]:
print("Hello world")


#### opdracht 2 - variabelen

In [ ]:
a = 3
b = a + 2
print(b) #Wat is de uitkomst van a? Klik nog eens op play om de magie van overschrijven te aanschouwen

Python is flexibel we kunnen iedere keer een variabel overschrijven/aanpassen. Hieronder overschrijven we nogmaals variabel a door de string "Justid!".
#### opdracht 3 - data typen

In [ ]:
a = "Justid!"
print("I Love " + a)

Variabelen aanwijzen doen we in Python met het = teken. Hierboven wijzen we het nummer (of integers zoals Python dat noemt) aan de letter a.

Een integer is een datatype. Net als andere programmeertalen definieert Python verschillende datatypen. Denk hierbij aan:

strings = "een willekeurige volgorde van karakters(nummers en cijfers), te herkennen aan de quotes" integers = 1 floats = 0.4

lijst = ["een verzamleing", 4,5, 5, "van verschillende soorten", "datatypen"] 

boolean = True of False

Python overschrijft een variabele wanneer deze al een eerder moment is aangemaakt.

Wat gebeurt er als we 2 intergers bij elkaar optellen en zie wat er gebeurt als we 2 strings bij elkaar optellen
#### opdracht 4

In [ ]:
sum = 5+5
concatination = "5" + "5"
string_concatination = "hallo" + "hallo"

print(sum)
print(concatination)
print(string_concatination)

Wanneer je twee strings bij elkaar optelt door middel van het plusteken voegt Python ze samen. Zie een beter voorbeeld hierbeneden:
#### opdracht 5

In [ ]:
voorstel = "Hallo mijn naam is "
naam = "Rick"

print(voorstel + naam) # voer je naam in op de plek van Rick en druk op play

In Python hebben we verschillende "operators" dit zijn de bekende +, -, : etc. Voor een goed overzicht bekijk deze pagina: https://www.w3schools.com/python/python_operators.asp

Waneer je er klaar voor bent kun je kijken naar wat complexere operators die je veelal zult tegen komen in conditional statements (denk aan if en else). Zo heb je de bekende groter dan > en groter dan of gelijk aan >= maar je hebt ook gelijk aan == of kleiner dan <. Waneer je deze gebruikt krijg je een boolean terug: True or False
#### opdracht 6

In [ ]:
5 > 6

In [ ]:
77 == 77

Zie onderstaande voorbeeld: pas de 5.5 van variabel je_cijfer aan naar een lager cijfer en zie wat de uitkomst is:

In [ ]:
je_cijfer = 5.5

if je_cijfer >= 5.5:
    print("Gefeliciteerd je bent geslaagd")

else:
    print("Helaas je moet herkansen!")

### Functies 

Bovenstaande kunnen we ook mooi maken door hem in een functie te zetten. Zo kunnen we de functie aan roepen waar en wanneer we maar willen. Python definieert een functie door: def de_naam_van_je_functie():
In de () kunnen we een variable zetten zodat we die kunnen gebruiken in de functie. In bovenstaande cel zou bijvoorbeeld cijfer een goeie variabel zijn om te geven aan de functie. 
#### opdracht 7

In [ ]:
def geslaagd(cijfer): # we noemen de functie geslaagd en geven de functie een variabele, deze variabele heet binnen!!! (niet buiten) de functie cijfer.

  if cijfer >= 5.5:
    print("Gefeliciteerd je bent geslaagd")
    
  else:
    print("Helaas je moet herkansen!")

Hieronder hoeven we alleen de naam van de functie te geven en het cijfer die we willen invoeren:
#### opdracht 8

In [ ]:
geslaagd(9)

### Loop

Stel we hebben een klas met kinderen die allemaal hun cijfers willen. Dan kunnen we voor iedere cijfer de functie aanroepen, maar we kunnen ook een loop gebruiken. In Python hebben verschillende soorten loops, maar de bekendste is de for loop. Met een for loop itereer je door "iets" heen. Dit kan een string zijn of, zoals in ons geval, een lijst met cijfers. Hieronder een voorbeeld van hoe Python door een lijst[1,2,3,4,5] heen itereert.

Python werkt met indentatie en is heel spatie gevoelig. Omdat de print statement iets naar rechts staat (met 4 spaties). Ziet Python dit als onderdeel van de loop en zal het dus iedere keer aanroepen.

De i in dit geval is een manier om een variabel aan te wijzen en overschrijven. De eerste iteratie is i = 1, de tweede i = 2 etc. we kunnen i ook anders noemen als we willen. Zoals ik doe in de volgende cel.
#### opdracht 9

In [ ]:
for cijfer in [1,2,3,4,5]: 
    print(cijfer)

In [ ]:
cijfer_lijst = [4, 7, 8, 3, 2.5, 5.5]
for cijfer in cijfer_lijst:
    print("je cijfer is:", cijfer)
    geslaagd(cijfer)

## Basis statistiek

In dit hoofdstuk gaan we simpele statistiek verkennen door het gebruik van Python. Python komt met verschillende libraries die ons functies out of de box geven. Op die manier hoeven we niet het wiel opnieuw uit te vinden. Libraries importeren doen we door de ingebouwde import functie. Hieronder importeren we een bekende library die bekend staat om z'n wiskundige formules. Met as np noem ik hem voor de makkelijkheid even np.
#### opdracht 10

In [ ]:
 import numpy

### Mean, Median, and Mode

We maken een lijst aan en gaan kijken of we het gemiddelde, mediaan en modus kunnen vinden. Laten we onder een lijst met snelheden maken.
#### opdracht 11

In [ ]:
snelheden = [99,86,87,88,111,86,103,87,94,78,77,85,86]

We gebruiken de numpy library door np.(de functie die we willen gebruiken). Dus de documentatie van Numpy zegt bijvoorbeeld dat er een mean en modus functie is: https://numpy.org/doc/1.21/reference/generated/numpy.mean.html?highlight=mean. We geven de lijst aan de functie en printen de variabele x

In [ ]:
x = numpy.mean(snelheden)

print("de gemiddelde snelheid is", x)

De mediaan zijn de middelste getallen in de lijst. Als de lijst even is pakt de functie de helft
#### opdracht 12

In [ ]:
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86] 
x = numpy.median(speed)

print("de mediaan snelheid is", x)

De numpy library heeft geen mode, daarvoor importeren we een andere library. De mode geeft het meestvoorkomende nummer weer. In het Nederlands beter bekend als modaal.
#### opdracht 13

In [ ]:
import statistics 

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = statistics.mode(speed)

print("de mode is", x)

## Titanic dataset

In het volgende hoofstuk kijken we naar *beslissingsbomen*, ons type classificatiemodel dat dieper ingaat op het gebied van machine learning. In de oefening van vandaag gebruiken we `scikit-learn'.


***
![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Titanic-Cobh-Harbour-1912.JPG/330px-Titanic-Cobh-Harbour-1912.JPG)
    
We illustreren hoe beslissingsbomen werken met behulp van de Titanic-survivaldataset die beschikbaar is op [Kaggle](https://www.kaggle.com/c/titanic/data). We zullen kijken naar een verscheidenheid aan variabelen om ons te helpen voorspellen of een bepaalde passagier op de Titanic kon overleven. Er is veel te vinden op internet (inclusief [hier](https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/)) over deze dataset, omdat het populair is onder degenen die net op de hoogte zijn van classificatiemodellen voor machine learning.
***

### Data legenda

|Variable|Definition|Key|
| --- | --- |:---|
| survival | Survival | 0 = No, 1 = Yes |
| pclass	| Ticket class	| 1 = 1st, 2 = 2nd, 3 = 3rd |
| sex	| Sex | male female | 	
| Age | Age in years | 0.0 - 100.0 | 	
| sibsp	| # of siblings / spouses aboard the Titanic | 0-100	| 
| parch	| # of parents / children aboard the Titanic | 0-100 | 
| ticket | Ticket number | example: A/5 21171 | 
| fare	| Passenger fare | 0.000-100.0000	| 
| cabin	| Cabin number| example: C85	| 
| embarked | Port of Embarkation	| C = Cherbourg (France), Q = Queenstown (Ireland), S = Southampton (England) |

In [ ]:
# %pip install --user numpy
# %pip install  pandas
# %pip install --upgrade pip --user
# %pip install wheel --user
# %pip install sklearn --user
# %pip install pandas --user
# %pip install matplotlib --user
# %pip install seaborn --user

#### opdracht 14

In [ ]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, precision_score, confusion_matrix
from sklearn.model_selection import KFold, cross_val_score
import seaborn as sns

%matplotlib inline
warnings.filterwarnings("ignore")

#### opdracht 15

In [ ]:
df = pd.read_csv('https://grantmlong.com/data/titanic.csv')

In [ ]:
df.head(10)

In [ ]:
df.info()

## Exploreren van de data
#### opdracht 15

In [ ]:
df.describe()

In [ ]:
df.describe(include=['O'])

In [ ]:
pd.isnull(df).sum()

#### opdracht 16

Over de data

    Het aantal passagiers zijn 891 wat ongeveer 40% is van het daadwerkelijke nummer aan boord van de Titanic (2,224).
    We missen ongeveer 20% data in Age. We doen de aanname dat leeftijd waarschijnlijk belangrijk zijn
    We missen ongeveer 80% in de Cabin column en misschien droppen we deze column.
    Er zijn zijn 2 missende data in Embarked
    Ticket laten we misschien vallen aangezien we over 200 dubbele hebben en Ticket informatiie is waarschijnlijk niet hoog gecoralleerd aan survival
    Name niet meteen gerelated aan survival dus we kunnen het laten vallen.



Aannames


Om nauwkeurig te kunnen voorspellen, moeten we kenmerken onderzoeken die correleren met Survival. Aangenomen wordt dat:

    SEX: Vrouwen (geslacht = vrouw) hebben meer kans om te overleven.
    SibSp/Parch: Mensen die alleen reizen, hebben meer kans om te overleven.
    Age: Jonge kinderen hebben meer kans om te overleven.
    Pclass: De passagiers uit de hogere klasse (Pclass=1) hebben meer kans om te overleven.
#### opdracht 17

In [ ]:
import  seaborn as sns
g = sns.FacetGrid(df, col='Survived',row='Pclass')
g.map(plt.hist, 'Age', bins=30)

In [ ]:
sns.barplot(x="Pclass", y="Survived",data=df,palette='rainbow')
#print percentages of classes that survive
print("Percentage van Class 1 die hebben survived:", df["Survived"][df["Pclass"] == 1].value_counts(normalize = True)[1]*100)
print("Percentage van Class 2 die hebben survived:", df["Survived"][df["Pclass"] == 2].value_counts(normalize = True)[1]*100)
print("Percentage van Class 3 die hebben survived:", df["Survived"][df["Pclass"] == 3].value_counts(normalize = True)[1]*100)

#### opdracht 18

In [ ]:
sns.countplot(x='Survived',hue='Sex',data=df,palette='rainbow')
#print percentages of females vs. males that survive
print("Percentages vrouwen survived:", df["Survived"][df["Sex"] == 'female'].value_counts(normalize = True)[1]*100)

print("Percentages mannen survived:", df["Survived"][df["Sex"] == 'male'].value_counts(normalize = True)[1]*100)

#### opdracht 19

In [ ]:
df[['SibSp','Survived']].groupby(by='SibSp').mean().sort_values(by='Survived',ascending=False)

(SibSp=1) hebben de meeste kans om te overleven (53.6%)

In [ ]:
df[['Parch','Survived']].groupby(by='Parch').mean().sort_values(by='Survived',ascending=False)


(Parch=3) hebben de meeste kans om te overleven (60%)

Reactie op eerdere veronderstellingen

    Sex: Vrouwen (geslacht = vrouw) hebben meer kans om te overleven.

    Zeer goed mogelijk

    SibSp/Parch: mensen die alleen reizen, hebben meer kans om te overleven

    Niet echt. (SibSp=1) & (Parch=3) hebben de meeste kans om te overleven

    Age: Jonge kinderen hebben meer kans om te overleven.

    Mogelijk. Jonge kinderen in klas 1 en 2 zijn zelden gesneuveld.

    Pclass: De passagiers uit de hogere klasse (Pclass=1) hebben meer kans om te overleven

    Het aandeel overlevenden in klasse 1 & 2 is groter dan dat van klasse 3

Geslacht, Pclass, Age-kenmerken worden gecorreleerd aan overlevingen.

## Gegevens opschonen

    Ontbrekende waarde zou worden ingevuld door toerekening
    De kolommen Sex en Embarked worden omgezet in dummies-variabelen
    Ticket en cabine worden gedropt

### Leeftijdsfunctie

ontbrekende waarden worden opgevuld door de mediaan van Leeftijd, gegroepeerd op verschillende klassen
#### opdracht 20

In [ ]:
# kijken naar de mediaan Age groep per klasse
df.groupby('Pclass')['Age'].describe()

In [ ]:
# impute mediaan van Age gebasseerd op Pclass
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        
        if Pclass == 1:
            return 37
        
        elif Pclass == 2:
            return 29
        
        else:
            return 24
        
    else:
        return Age

In [ ]:
df['Age'] = df[['Age','Pclass']].apply(impute_age,axis=1)

### Fare feature
1 missende waarde in Fare wordt opgevuld met de mediaan van de kolom Fare
#### opdracht 21

In [ ]:
# Vul na waarde Fare met de mediaan
df['Fare'].fillna(df['Fare'].median(),inplace=True)

### Laat Cabin and Ticket kolom vallen

#### opdracht 21

In [ ]:
df.drop(['Cabin','Ticket'],axis=1,inplace=True)

### Sex and Embarked kenmerken
#### opdracht 22

In [ ]:
# 2 missende waardes in Embarked en het is categorisch dus we laten het vallen
df.dropna(inplace=True)

In [ ]:
df.head()

### Transformeren
#### opdracht 23

In [ ]:
# transform de categorische data in de dummies variabelen
train_sex = pd.get_dummies(df['Sex'],drop_first=True,dtype='int64')
train_embark = pd.get_dummies(df['Embarked'],drop_first=True,dtype='int64')


# delete de originele sex en embarked columns
df.drop(['Sex','Embarked'],axis=1,inplace=True)

# Update de dataframe
df = pd.concat([df,train_sex,train_embark],axis=1)

_name = df.copy()

In [ ]:
# Drop the orginal column
# df.drop('Name',axis=1,inplace=True)

df.info()
df.head(5)


### Bouwen van een model

We gaan drie modellen gebruiken (Decision Tree, Logistic Regression & Random Forest model) om te voorspellen. Eerst, splitten we de data in train en test set. De voorspellingen van de drie modellen zullen gevalueerd worden en de beste model zullen eruit pikken.

Een Decision Tree is een flowchart en kan helpen beslissingen te nemen op basis van eerdere ervaringen/gegevens.
#### opdracht 23

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop(['PassengerId','Survived'],axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

#### opdracht 24

In [ ]:
pred_tree = dtree.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

print(accuracy_score(y_test,pred_tree))
print('\n')
print(classification_report(y_test,pred_tree))
print('\n')
print(confusion_matrix(y_test,pred_tree))

79% nog niet hele beste scores we proberen het met een ander model:
#### opdracht 25

Naam kan worden omgezet in een nieuwe functie door hun titels te extraheren

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

pred_rf = rfc.predict(X_test)

print(accuracy_score(y_test,pred_rf))
print('\n')
print(classification_report(y_test,pred_rf))
print('\n')
print(confusion_matrix(y_test,pred_rf))

We behalen hier 82% accuracy. We kijken verder naar precision en recall. Dit houdt in dat we kijken naar of iemand terecht/onterecht is geclassificeerd. F1 is precision/recall

## Zou ik de Titanic overleven?

Vul tussen de [] je eigen gevens in: 

Pclass : welke klasse je had willen reizen
Age : je leeftijd
SibSP : aantal kinderen
Parch : aantal ouder (als je die mee wilt nemen)
Male: 1 voor ja , 0 voor nee
Q : 1 voor vertrek van Queenstown, 0 niet
s : 1 voor vertrek van Southhampton , 0 voor vertrek Cherbourg.

In [ ]:
eigen_gegevens = {"Pclass":[3], "Age":[28], "SibSp":[0], "Parch":[0], "Fare":[15], "male":[1] ,"Q":[0], "S":[1]}

Hieronder 0? Dan zal je het niet overleven, 1 dan wel!!!

In [ ]:
rfc.predict(pd.DataFrame.from_dict(eigen_gegevens))

# Eigen ingeving

In [ ]:
_name.head()

In [ ]:

dataset =_name
#extract a title for each Name in the train and test datasets

dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(dataset['Title'], dataset['male'])

In [ ]:
dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

_name[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

In [ ]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
dataset['Title'] = dataset['Title'].map(title_mapping)
dataset['Title'] = dataset['Title'].fillna(0)

In [ ]:
# Drop the orginele column
dataset.drop('Name',axis=1,inplace=True)

In [ ]:
dataset.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)
rfc_name = RandomForestClassifier()
rfc_name.fit(X_train,y_train)

pred_rf_name = rfc_name.predict(X_test)

print(accuracy_score(y_test,pred_rf_name))
print('\n')
print(classification_report(y_test,pred_rf_name))
print('\n')
print(confusion_matrix(y_test,pred_rf_name))